<% provide(:title, "Help") %>

<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>

<h1>Help</h1>
<p>This is where you get help for the ruby on rails tutoiral
<a href="http://railstutorial.org/help"> Help page for book </a>
</p>
